/* ===== MODAL PARA LOGIN/REGISTRO ===== */
.auth-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.auth-modal {
    position: relative;
    background: var(--surface-card);
    opacity: 1;
    padding: 35px;
    border-radius: 14px;
    width: 100%;
    width: 500px;
    height: auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.auth-modal h2 {
    margin-bottom: 25px;
    color: var(--color-primary);
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-modal input {
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid var(--surface-dark);
}

.auth-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.field-error {
    font-size: 11px;
    padding-left: 4px;
    color: var(--color-danger);
    line-height: 1.2;
}

.auth-submit-btn {
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.auth-form button:not(:disabled):hover {
    filter: brightness(1.2);
    transform: scale(1.03);
}

.auth-mode-switch {
    margin-top: 20px;
    font-size: 16px;
}

.auth-mode-switch a {
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 600;
}

.auth-modal input.is-valid {
    border: solid 2px var(--color-success);
}

.auth-modal input.is-invalid {
    border: solid 2px var(--color-danger);
}

.auth-modal button:disabled {
    background-color: var(--text-on-light);
    cursor: not-allowed;
}

.auth-modal input.is-valid:focus {
    border: 2px solid var(--color-success);
    outline: none;
}

.auth-modal input.is-invalid:focus {
    border: 2px solid var(--color-danger);
    outline: none;
}

.auth-modal input:focus {
    outline: none;
}

.modal-header {
    position: relative;
    width: 100%;
    text-align: center;
}

.modal-title {
    margin: 0;
    color: var(--color-primary);
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 14px;
    background: transparent;
    border: none;
    font-size: 40px;
    font-weight: bold;
    color: var(--color-primary);
    cursor: pointer;
    line-height: 1;
    transition: transform 0.1s ease, color 0.1s ease;
}

.modal-close-btn:hover {
    transform: scale(1.07);
    color: var(--color-secondary);

}

@media (max-width: 650px) {
    .auth-modal {
        max-height: 80vh;
        max-width: 95vw;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}